@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@keyframes bgPulse {
  0%, 100% {
    opacity: 0.6;
    filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.08));
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 16px rgba(0, 255, 255, 0.2));
  }
}

